In [1]:
import pandas as pd

In [2]:
data = {
    'col1': [1, 2, 3],
    'col2': [4, 5, 6],
    'col3': ['x', 'y', 'z']
}

df = pd.DataFrame(data)
print(df)

   col1  col2 col3
0     1     4    x
1     2     5    y
2     3     6    z

In [3]:
df['new_col1'] = ""
df['new_col2'] = 0
print(df)

   col1  col2 col3 new_col1  new_col2
0     1     4    x                  0
1     2     5    y                  0
2     3     6    z                  0

In [4]:
df['new_col3'] = df[[
    'col1','col2'
]].sum(axis=1)

print(df)

   col1  col2 col3 new_col1  new_col2  new_col3
0     1     4    x                  0         5
1     2     5    y                  0         7
2     3     6    z                  0         9

In [5]:
old_column_list = ['col1','col2']
df['new_col4'] = df[old_column_list].apply(sum, axis=1)
print(df)

   col1  col2 col3 new_col1  new_col2  new_col3  new_col4
0     1     4    x                  0         5         5
1     2     5    y                  0         7         7
2     3     6    z                  0         9         9

In [6]:
df.drop(['col1','col2'], axis=1, inplace=True)
print(df)

  col3 new_col1  new_col2  new_col3  new_col4
0    x                  0         5         5
1    y                  0         7         7
2    z                  0         9         9

In [7]:
df['new_col5'] = ['7', '8', '9']
df['new_col6'] = ['10', '11', '12']

for str_col in ['new_col5','new_col6']:
    df[[str_col]] = df[[str_col]].apply(pd.to_numeric)
    
print(df)

  col3 new_col1  new_col2  new_col3  new_col4  new_col5  new_col6
0    x                  0         5         5         7        10
1    y                  0         7         7         8        11
2    z                  0         9         9         9        12

In [14]:
df2 = pd.DataFrame({
    'col3': ['a', 'b', 'c', 'd'],
    'new_col1': '',
    'new_col2': 0,
    'new_col3': [11, 13, 15, 17],
    'new_col4': [17, 19, 21, 23],
    'new_col5': [7.5, 8.5, 9.5, 10.5],
    'new_col6': [13, 14, 15, 16]
});
print(df2)

  col3 new_col1  new_col2  new_col3  new_col4  new_col5  new_col6
0    a                  0        11        17       7.5        13
1    b                  0        13        19       8.5        14
2    c                  0        15        21       9.5        15
3    d                  0        17        23      10.5        16

In [17]:
df3 = pd.concat([df, df2], ignore_index=True)
print(df3)

  col3 new_col1  new_col2  new_col3  new_col4  new_col5  new_col6
0    x                  0         5         5       7.0        10
1    y                  0         7         7       8.0        11
2    z                  0         9         9       9.0        12
3    a                  0        11        17       7.5        13
4    b                  0        13        19       8.5        14
5    c                  0        15        21       9.5        15
6    d                  0        17        23      10.5        16

In [16]:
my_list = df3['new_col3'].tolist()
print(my_list)

[5, 7, 9, 11, 13, 15, 17]

In [19]:
value = df3.loc[0,'new_col5']
print(value)

7.0

In [20]:
df3.loc[[2,3,4],['new_col4','new_col5']] = 1
print(df3)

  col3 new_col1  new_col2  new_col3  new_col4  new_col5  new_col6
0    x                  0         5         5       7.0        10
1    y                  0         7         7       8.0        11
2    z                  0         9         1       1.0        12
3    a                  0        11         1       1.0        13
4    b                  0        13         1       1.0        14
5    c                  0        15        21       9.5        15
6    d                  0        17        23      10.5        16

In [21]:
value2 = df3.iloc[0,5]
print(value2)

7.0

In [23]:
partial_df3 = df3.loc[1:3,'new_col2':'new_col4']
print(partial_df3)

   new_col2  new_col3  new_col4
1         0         7         7
2         0         9         1
3         0        11         1

In [24]:
value3 = df3.iat[3,3]
print(value3)

11

In [25]:
df3_filt = df3[df3['new_col3'] > 10]
print(df3_filt)

  col3 new_col1  new_col2  new_col3  new_col4  new_col5  new_col6
3    a                  0        11         1       1.0        13
4    b                  0        13         1       1.0        14
5    c                  0        15        21       9.5        15
6    d                  0        17        23      10.5        16

In [27]:
df3 = df3.sort_values('new_col4', ascending=True)
print(df3)

  col3 new_col1  new_col2  new_col3  new_col4  new_col5  new_col6
2    z                  0         9         1       1.0        12
3    a                  0        11         1       1.0        13
4    b                  0        13         1       1.0        14
0    x                  0         5         5       7.0        10
1    y                  0         7         7       8.0        11
5    c                  0        15        21       9.5        15
6    d                  0        17        23      10.5        16

In [31]:
df_join_df2 = df.join(df2, how='outer', rsuffix='r')
print(df_join_df2)

  col3 new_col1  new_col2  new_col3  new_col4  new_col5  new_col6 col3r  \
0    x                0.0       5.0       5.0       7.0      10.0     a
1    y                0.0       7.0       7.0       8.0      11.0     b
2    z                0.0       9.0       9.0       9.0      12.0     c
3  NaN      NaN       NaN       NaN       NaN       NaN       NaN     d

  new_col1r  new_col2r  new_col3r  new_col4r  new_col5r  new_col6r
0                    0         11         17        7.5         13
1                    0         13         19        8.5         14
2                    0         15         21        9.5         15
3                    0         17         23       10.5         16

In [34]:
tallies = df3.groupby('new_col4').size()
print(tallies)

new_col4
1     3
5     1
7     1
21    1
23    1
dtype: int64